/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    max-width: 1500px;
    width: 80%;
    margin: 0 auto;
}
/* /GENERAL */


/* HEADER */
header{
    height: 70px;
    background-color: blue;
}
/* /HEADER */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */