/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    max-width: 1500px;
    width: 80%;
    margin: 0 auto;
}

a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

.color-nero{
    color: black;
}

.color-bianco{
    color: white;
}
/* /GENERAL */


/* HEADER */
header{
    background-color: rgb(37, 94, 233);
}

/* Nav */
header nav ul{
    list-style: none;
    width: 100%;
}

header nav ul li{
    display: inline-block;
    padding: 20px;
}

header nav li.li-cx{
    margin: 0 calc(20% - 40px);
}


/* Jumbo */
header div.jumbo{
    position: relative;
    height: 75vh;
    background-image: url(img/jumbo.png);
    background-size: cover;
}

header div.jumbo-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* /HEADER */


/* MAIN */
section{
    height: 75vh;
    position: relative;
}

section:nth-child(2n+2){
    background-color: rgb(246, 246, 246);
}

section.ultimo{
    height: 150vh;
}

div.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

div.scheda{
    width: 50%;
    float: left;
    border: 1px solid black;
}

div.scheda img{
    width: 100%;
}

div.stelline{
    background-image: url(img/stars.svg);
}
/* /MAIN */


/*  */
/*  */


/*  */
/*  */