/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --block-height: 60vh;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    max-width: 1500px;
    width: 80%;
    margin: 0 auto;
}

a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

ul{
    list-style: none;
}

/* Bottoni */
.btn-small{
    border-radius: 15px;
    padding: 5px 10px;
}

.btn-big{
    border-radius: 22px;
    padding: 12px 18px;
}

/* Colori background */
.bg-white{
    background-color: white;
}

.bg-blue{
    background-color: rgb(114, 137, 218);
}

.bg-black{
    background-color: rgb(35, 39, 42);
}

/* Colori testo */
.color-nero{
    color: black;
}

.color-bianco{
    color: white;
}
/* /GENERAL */


/* HEADER */
header{
    background-color: rgb(37, 94, 233);
}

/* Nav */
header nav ul li{
    display: inline-block;
    padding: 20px;
}

header nav li.li-cx{
    margin: 0 calc(20% - 40px);
}


/* Jumbo */
header div.jumbo{
    position: relative;
    height: var(--block-height);
    background-image: url(img/jumbo.png);
    background-size: cover;
}

header div.jumbo-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* /HEADER */


/* MAIN */
section{
    height: var(--block-height);
    position: relative;
}

section:nth-child(2n+2){
    background-color: rgb(246, 246, 246);
}

section.ultimo{
    height: calc(var(--block-height) * 2);
}

section div.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

div.scheda{
    width: 50%;
    float: left;
    border: 1px solid black;
}

div.scheda img{
    width: 100%;
}

div.stelline{
    background-image: url(img/stars.svg);
    background-position: center;
    background-size: cover;
    width: 50%;
    margin: 0 auto;
}
/* /MAIN */


/* FOOTER */
footer{
    height: var(--block-height);
    background-color: rgb(35, 39, 42);
    color: white;
}

/* Div Superiore */
footer div.colonna{
    float: left;
    width: 15%;
}

footer div.colonna.plus{
    width: 40%;
}

footer div.sup h3, footer div.sup p{
    color: rgb(114, 137, 218);
}

footer div.colonna.plus img{
    width: 20px;
}

/* select{
    background-color: rgb(35, 39, 42);
    color: white;
    width: 100px;
}

option::before{
    content: url(img/ita.png);
} */

/* Div Inferiore */
div.inf{
    position: relative;
    border-top: 2px solid rgb(114, 137, 218);
}

div.inf a.logo-sx, div.inf a.btn-dx{
    position: absolute;
    top: 5%;
    margin-top: 30px;
}

div.inf a.logo-sx{
    left: 0;
}

div.inf a.btn-dx{
    right: 0;
}
/* /FOOTER */


/*  */
/*  */